[mysqld]
lower_case_table_names=1
port=3306

# 配置服务器的服务号，具备日后需要集群做准备
server-id=1
binlog_format="ROW"
# 开启 Binlog 并写明存放日志的位置
log_bin = /var/log/mysql/bin-log
# 指定索引文件的位置
log_bin_index = /var/log/mysql/bin-log.index
# 设置清理超过30天的日志，以免日志堆积造过多成服务器内存爆满
binlog_expire_logs_seconds = 2592000

# 开启慢查询
slow_query_log = 1
slow_query_log_file = /var/log/mysql/long-query-log
# 慢查询时间，默认为10s
long_query_time = 10

# 设置东八区时区
default-time_zone = '+8:00'
